@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: "light", "dark", "cupcake", "bumblebee", "emerald", "corporate",
    "synthwave", "retro", "cyberpunk", "valentine", "halloween", "garden",
    "forest", "aqua", "lofi", "pastel", "fantasy", "wireframe", "black",
    "luxury", "dracula", "cmyk", "autumn", "business", "acid", "lemonade",
    "night", "coffee", "winter", "dim", "nord", "sunset"
}

body {
  overflow: hidden;
}
.theme {
  overflow-y: auto; /* scroll enable */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / old Edge */
}
.message{
  overflow-y: auto; /* scroll enable */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / old Edge */
}
.message::-webkit-scrollbar{
  display: none;
}
.theme::-webkit-scrollbar {
  display: none;
}
